<div class="container my-4">
  <nav
    class="col-12 justify-content-start navbar navbar-expand-lg navbar-light bg-light"
  >
    <a
      class="mx-2 nav-link active"
      *ngIf="decodeUser?.userRole !== 'super admin'"
      href="/home/products"
      >Products</a
    >
    <a
      class="mx-2 nav-link active"
      *ngIf="decodeUser?.userRole !== 'super admin'"
      href="/home/sales"
      >Sales</a
    >
    <a
      class="mx-2 nav-link active"
      *ngIf="decodeUser?.userRole !== 'employee'"
      href="/home/users"
      >Users</a
    >
    <a
      class="mx-2 nav-link active"
      *ngIf="decodeUser?.userRole === 'super admin'"
      href="/home/branches"
      >Branch</a
    >
  </nav>
  <div class="container d-flex my-4" *ngIf="sales">
    <div class="col-4 mx-3">
      <form [formGroup]="addProductForm" class="mt-2">
        <h3>Register Sale</h3>
        <div *ngIf="errorMessage">
          <p class="text-danger">{{ errorMessage }}</p>
        </div>
        <form [formGroup]="registerSaleForm" class="mb-3 mx-1">
          <div class="mb-3 col-9">
            <label for="invoiceNumber" class="form-label">Invoice Number</label>
            <input
              type="text"
              id="invoiceNumber"
              name="invoiceNumber"
              formControlName="invoiceNumber"
              class="form-control"
              required
            />
            <div
              *ngIf="
                registerSaleForm.get('invoiceNumber')?.hasError('required') &&
                registerSaleForm.get('invoiceNumber')?.touched
              "
              class="text-danger"
            >
              Invoice Number is Required
            </div>
            <div
              *ngIf="
                registerSaleForm.get('invoiceNumber')?.hasError('minlength') &&
                registerSaleForm.get('invoiceNumber')?.touched
              "
              class="text-danger"
            >
              Invoice Number require at least 1 character
            </div>
            <div
              *ngIf="
                registerSaleForm.get('invoiceNumber')?.hasError('maxlength') &&
                registerSaleForm.get('invoiceNumber')?.touched
              "
              class="text-danger"
            >
              Invoice Number limit 100 characters
            </div>
          </div>
          <div class="mb-3 col-9">
            <label for="type" class="form-label">Product</label>
            <select
              id="type"
              name="type"
              formControlName="type"
              class="form-control"
              required
            >
              <option value="">Select Type</option>
              <option value="Final Customer">Final Customer</option>
              <option value="Reseller">Reseller</option>
            </select>
            <div
              *ngIf="
                registerSaleForm.get('type')?.hasError('required') &&
                registerSaleForm.get('type')?.touched
              "
              class="text-danger"
            >
              Type of Sale is Required
            </div>
          </div>
        </form>

        <div class="d-flex">
          <div class="mb-3 col-9">
            <label for="productName" class="form-label">Product</label>
            <select
              id="productName"
              name="productName"
              formControlName="id"
              class="form-control"
              required
            >
              <option value="">Select Product</option>
              <option *ngFor="let product of products" [value]="product.id">
                {{ product.name }}
              </option>
            </select>
            <div
              *ngIf="
                addProductForm.get('id')?.hasError('required') &&
                addProductForm.get('id')?.touched
              "
              class="text-danger"
            >
              Product is Required
            </div>
          </div>

          <div class="mb-3 col-3 mx-1">
            <label for="quantity" class="form-label">Quantity</label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              formControlName="inventoryStock"
              class="form-control"
              required
            />
            <div
              *ngIf="
                addProductForm.get('inventoryStock')?.hasError('required') &&
                addProductForm.get('inventoryStock')?.touched
              "
              class="text-danger"
            >
              Quantity is Required
            </div>
            <div
              *ngIf="
                addProductForm.get('inventoryStock')?.hasError('min') &&
                addProductForm.get('inventoryStock')?.touched
              "
              class="text-danger"
            >
              Quantity must be greater than 0
            </div>
          </div>
        </div>

        <div class="col-12 list-group">
          <div class="list-group-item d-flex">
            <p class="col-3">
              <span class="">Units</span>
            </p>
            <p class="col-7">Product</p>
            <p class="col-3">U/$</p>
          </div>
          <div class="list-group-item d-flex" *ngFor="let sale of newSales">
            <p class="col-3">
              <span class="p-1 rounded-circle text-white bg-primary">{{
                sale.inventoryStock
              }}</span>
            </p>
            <p class="col-7">{{ getProduct(sale.id)?.name }}</p>
            <p class="col-3">{{ getProduct(sale.id)?.price }}</p>
          </div>
        </div>

        <div class="mb-3 mt-3 d-flex">
          <button
            (click)="registerSale()"
            type="button"
            class="btn btn-primary mx-2"
          >
            Register Sale
          </button>
          <button
            (click)="addOnNewSales()"
            type="button"
            class="btn btn-primary mx-2"
          >
            Add Product
          </button>
        </div>
      </form>
    </div>

    <div class="col-8 list-group mx-3">
      <div class="list-group-item d-flex">
        <p class="col-2">
          <span>Units</span>
        </p>
        <p class="col-4">Invoice Number</p>
        <p class="col-3">Product</p>
        <p class="col-3">Total</p>
      </div>
      <div class="list-group-item d-flex" *ngFor="let sale of sales">
        <p class="col-2">
          <span class="p-1 rounded-circle text-white bg-primary">{{
            sale.quantity
          }}</span>
        </p>
        <p class="col-4">{{ sale.invoiceNumber }}</p>
        <p class="col-3">{{ sale.productName }}</p>
        <p class="col-3">{{ getTotalSale(sale) }}</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!sales">
  <p>Loading ...</p>
</div>
